.header {
    padding: 50px 100px;
    text-align: center;
    background: #999;
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
}
.main {
    padding: 50px 100px;
    text-align: center;
    background: rgb(144,238,49);
    font-size: 28px;
    font-family: sans-serif;
    color: #fff;
}

.footer {
    padding: 50px 100px;
    text-align: center;
    background: rgb(77, 53, 216);
    font-size: 28px;
    font-family: sans-serif;
    color: #fff;
}